* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  border: none;
  line-height: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  overflow-y: scroll;
}

ul,
li {
  list-style: none;
}

#header {
  z-index: 1;
  position: relative;
}

#main {
  z-index: 1;
  position: relative;
}

#footer {
  z-index: 1;
  position: relative;
}
