.member-comment {
  color: #fff;
  padding: 60px 0;
}

.member-comment:first-child {
  padding-top: 120px;
}

.member-comment:last-child {
  padding-bottom: 180px;
}

.member-comment:nth-child(odd) {
  background: linear-gradient(#12141d 60%, #181c28 100%);
}

.member-comment:nth-child(even) {
  background: linear-gradient(#181c28 60%, #12141d 100%);
}

.member-comment .inner-wrap {
  display: flex;
  gap: 60px;
  align-items: end;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.member-comment .inner-wrap .image-wrap {
  position: relative;
  width: 40%;
}

.member-comment .inner-wrap .image-wrap .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75%;
}

.member-comment:nth-child(odd) .inner-wrap .image-wrap .bg {
  background: linear-gradient(40deg, #4c7cc8, #80689d);
}

.member-comment:nth-child(even) .inner-wrap .image-wrap .bg {
  background: linear-gradient(-40deg, #80689d, #315e73);
}

.member-comment .inner-wrap .image-wrap img {
  position: relative;
  width: 100%;
}

.member-comment .inner-wrap .text-wrap {
  width: 60%;
  padding-right: 60px;
}

.member-comment .inner-wrap .text-wrap h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 160%;
  color: #f9f9f9;
  padding-bottom: 10px;
}

.member-comment .inner-wrap .text-wrap small {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 160%;
  color: #b4b4b6;
  padding-bottom: 20px;
}

.member-comment .inner-wrap .text-wrap blockquote svg {
  width: 40px;
}

.member-comment .inner-wrap .text-wrap blockquote svg path {
  fill: #7918ee;
}

.member-comment .inner-wrap .text-wrap p {
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  color: #b4b4b6;
  padding-bottom: 20px;
}

.member-comment .inner-wrap .text-wrap details {
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  color: #b4b4b6;
}

.member-comment .inner-wrap .text-wrap summary {
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  color: #b4b4b6;
  cursor: pointer;
}

.member-comment .inner-wrap .text-wrap h3 {
  font-size: 26px;
  line-height: 160%;
  color: #f9f9f9;
  padding: 20px 0;
}

.member-comment .inner-wrap .text-wrap ul {
  padding-left: 30px;
}

.member-comment .inner-wrap .text-wrap ul li {
  font-size: 24px;
  line-height: 160%;
  color: #b4b4b6;
  padding-bottom: 20px;
}

#together {
  width: 100%;
}

#together ul {
  display: flex;
  flex-wrap: wrap;
}

#together ul li {
  position: relative;
  width: 25%;
}

#together ul li div {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

#together ul li:nth-child(odd) div {
  background: linear-gradient(40deg, #4c7cc8, #80689d);
}

#together ul li:nth-child(even) div {
  background: linear-gradient(-40deg, #80689d, #315e73);
}

#together ul li div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
